.minigridrow {
    display: flex;
}

.minigrid {
    display: inline-block;
    flex: 1;
    border: 3px solid black;
    justify-content: center;
}

.row {
    display: flex;
}

.emptycell {
    color: gray;
    background-color: gray;
}

.lockedcell {
    color: black;
    background-color: lightgreen;
}

.alert {
    color: red;
    background-color: yellow;
}

table {
    margin: 1em auto;
}

td {
    height: 56px;
    width: 56px;
    border: 1px solid;
    text-align: center;
    font-size: 56px;
    padding: 5px;
    border-style: dotted;
}

td:first-child {
    border-left: solid;
}

td:nth-child(3n) {
    border-right: solid;
}

tr:first-child {
    border-top: solid;
}

tr:nth-child(3n) td {
    border-bottom: solid;
}

li {
    font-size: 32px;
    justify-content: right;
}

h3 {
    font-size: 48px;
}
